.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background-image: url(@site/static/img/main-wrapper-bg.svg);
}

.featureSvg {
  height: 200px;
  width: 200px;
  margin-bottom: 10px;
}

.shadow {
  filter: drop-shadow(10px 10px 2px rgba(0, 0, 0, 0.2));
}

[data-theme='dark'] {
  .shadow {
    filter: drop-shadow(10px 10px 2px rgba(255, 255, 255, 0.2));
  }
}


.naviLink:hover {
  color: var(--ifm-font-color-base);
  text-decoration-line: none;
}
.naviLink h3{
  color: var(--ifm-color-content);
}

.naviLink p{
  color: var(--ifm-font-color-base);
}

.naviLink p:hover{
  color: var(--ifm-color-primary);
}