.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
}

.shadow {
  filter: drop-shadow(10px 10px 2px rgba(0, 0, 0, 0.2));
}

.containerWrapper {
  margin: 0;
  text-decoration: none !important;
  transform: scale(1);
  transition: all 0.7s;
}

.containerWrapper:hover {
  transform: scale(1.3);
  transition: 0.7s;
}

.itemWrapper {
  margin: 0 65px;
  padding: 20px 0px;
  height: 230px;
  /* border: 1px solid #e1e1e1; */
}

/* .itemWrapper:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
  border-radius: 10px;
} */

[data-theme='dark'] {
  .shadow {
    /* filter: drop-shadow(10px 10px 2px rgba(255, 255, 255, 0.2)); */
    filter: unset;
  }
  /* .itemWrapper:hover {
    box-shadow: 0 2px 4px rgba(255, 255, 255, .2), 0 0 6px rgba(255, 255, 255, .04)
  } */
}


.naviLink:hover {
  color: var(--ifm-font-color-base);
  text-decoration-line: none;
}
.naviLink h3{
  color: var(--ifm-color-content);
}

.naviLink p{
  color: var(--ifm-font-color-base);
}

.naviLink p:hover{
  color: var(--ifm-color-primary);
}