.systemFeatures {
  display: flex;
  align-items: center;
  margin-top: 50px;
  padding: 2rem 0;
  width: 100%;
}

.containerWrapper {
  margin: 16px 0;
}

.itemWrapper {
  padding: 20px 0px;
  border: 1px solid var(--ifm-color-emphasis-200);
  border-radius: 10px;
  height: 350px;
}

/* .itemWrapper:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)
}

[data-theme='dark'] {
  .itemWrapper:hover {
    box-shadow: 0 2px 4px rgba(255, 255, 255, .2), 0 0 6px rgba(255, 255, 255, .04)
  }
} */
  
.featureImg {
  height: 100px;
  width: 100px;
}

.shadow {
  filter: drop-shadow(10px 10px 2px rgba(0, 0, 0, 0.2));
}

[data-theme='dark'] {
  .shadow {
    /* filter: drop-shadow(10px 10px 2px rgba(255, 255, 255, 0.2)); */
    filter: unset;
  }
}

.normalA:hover {
  color: var(--ifm-font-color-base);
}
.normalA h3{
  color: var(--ifm-color-content);
}

.content {
  color: var(--ifm-font-color-base);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.title {
  margin: 0 0 50px 0;
}
